

<div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-10">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/01.jpg"alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/02.jpg " alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/03.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/04.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/05.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/06.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/07.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/08.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/09.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/10.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/11.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/assets/examples/photographer/gallery/12.jpg" alt="">
        </div>
    </div>
</div>


